<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- String de conexão para o MySQL -->
    <connectionStrings>
        <add name="MySqlConnection" connectionString="Server=localhost;Database=pdv;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <!-- Configurações do Entity Framework -->
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
        </providers>
    </entityFramework>

    <!-- Configurações padrão -->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
